.enahncify-way
  .enahncify-way__wrapper
    h2.section__title
      | Enhancify your home, the Enhancify way

    .enahncify-way__content-block
      p.enahncify-way__text-item
        | In 2018, it’s estimated that Americans will spend around $340 Billion dollars to remodel or make updates to their home.

      p.enahncify-way__text-item
        | $340 Billion sounds like a lot of money for homeowners to spend, but it really isn’t when you think about all of existing homes that are getting older, design trends that are changing universally and going green to save money becomes more and more prevalent.

      p.enahncify-way__text-item
        | Plus, with the median home value around $181,000 and the average annual income around $59,000 to $60,000 in the United States, many Americans are unable to afford a home – let alone buy a home that has everything they’ve ever wanted and is tailored to their tastes and needs.

      p.enahncify-way__text-item
        | So where are Americans purchasing more and more of their home improvement products? The internet, of course. Within a 12 month period, the home improvement e-commerce business is estimated to make up $11 Billion dollars in sales according to the NPD – that’s 41% higher than it was the previous year. In fact, homeowners are not only purchasing items for their home online, they are also using the internet to design their kitchen, hire the companies to do the work, and even applying for loans to pay for it all.

      p.enahncify-way__text-item
        | Say hello to Enhancify.com, where we’ve set out to simplify getting money for home improvements.

      p.enahncify-way__text-item
        | Like many homeowners, their home is one of the biggest investments we may ever make in this lifetime, which is why we’re always trying keep our home up-to-date with the latest trends. The more money we put into our home, the higher our home’s value will be and the more equity we’ll have.

      p.enahncify-way__text-item
        | Here at Enhancify.com, we have a common belief that a house is not just a way to create memories, but is also a way to build a financial foundation for the future.

      p.enahncify-way__text-item
        | By using the power and ease of the internet, along with our proprietary technology, we’re not only making the home improvement process easier, but we’re bridging the gap between the homeowner, contractor and lender.

      p.enahncify-way__text-item
        | So, whether you need the money fast, have no equity in the home, don’t want to use any of the home’s equity, or even if you just want an easy, hassle free process, Enhancify.com can help – regardless of your credit situation!

      p.enahncify-way__text-item
        | Our network is comprised of the top-rated lenders offering unsecured financing for home remodeling projects. Big or small, Enhancify.com wants you to worry about which room you want to remodel first, not how you’re going to pay for it.

    .enahncify-way__show-more
      button.enahncify-way__show-more-btn(type="button", value="Show More")
        | Show More
