.cb-banners
  .cb-banners__wrapper
    .cb-banners__main
      h2.section__title
        | Online Advertising: Banners

      .cb-banners__under-text
        | Add one of Enhancify’s banners to your website and show your customers you have financing available. Both your customers & staff will have an easy way to have access and click to your co-branded financing page. Please use the dedicated URL provided to you or contact your account representative if you haven’t received it.

      .cb-banners__examples
        .cb-banners__examples-wrapper
          .cb-banners__examples-item
            p.cb-banners__examples-item-text
              | Size: 150x150

            .cb-banners__examples-item-example.cb-banners__examples-item-example--sm

            a.cb-banners__examples-item-btn(href="")
              | Download Image

          .cb-banners__examples-item
            p.cb-banners__examples-item-text
              | Size: 300x250

            .cb-banners__examples-item-example.cb-banners__examples-item-example--m

            a.cb-banners__examples-item-btn(href="")
              | Download Image

          .cb-banners__examples-item
            p.cb-banners__examples-item-text
              | Size: 728x90

            .cb-banners__examples-item-example.cb-banners__examples-item-example--l

            a.cb-banners__examples-item-btn(href="")
              | Download Image

        a.cb-banners__examples-btn(href="#")
          | Download All

        p.cb-banners__examples-under-text
          | Download All Banners & Instructions

    .cb-banners__instructions
      p.cb-banners__instructions-title
        | Instructions

      ul.cb-banners__instructions-list
        p.cb-banners__instructions-list-title
          | How to add any banners in 
          span.semibold
            | wordpress post:

        li.cb-banners__instructions-list-item
          span.semibold
            | Step 1: 

          | First open your site in edit mode and select media option from wordpress editor

        li.cb-banners__instructions-list-item
          span.semibold
            | Step 2: 

          | When you open media option  you will see a wordpress pop up for upload and select uploaded banner(s).

        li.cb-banners__instructions-list-item
          span.semibold
            | Step 3: 

          | If you have already added banners then just select from media library and insert into post/page.

        li.cb-banners__instructions-list-item
          span.semibold
            | Step 4: 

          | If you have not added banner  image in media library then first upload your banners in media library and then insert into wordpress post/page.

      ul.cb-banners__instructions-list
        p.cb-banners__instructions-list-title
          | How to use any banners in core php code:

        li.cb-banners__instructions-list-item
          span.semibold
            | Step 1: 

          | If you have already upload banners then just pick the banners path and write code as: &lt;img src="banners path here"/>

        li.cb-banners__instructions-list-item
          span.semibold
            | Step 2: 

          | If you don't have any banners then just upload first and after that write same code like as: &lt;img src="banners path here"/>





