.financing
  .financing__wrapper
    h2.section__title
      | Why Choose our Financing?

    p.financing__under-text
      | Getting the money you need for your next home improvement project made simple. View, Compare and Apply in seconds without affecting your credit score. It’s that easy!

    ul.financing__item-list
      li.financing__item
        | Loans up to &nbsp

        span.semibold
          | $100,000

      li.financing__item
        | Equity in your home is not required

      li.financing__item
        | Poor, Fair, Good, Very Good & Excellent Credit  Welcome!

      li.financing__item
        span.semibold
          | 0% Financing &nbsp

        | Available

      li.financing__item
        | No prepayment penalties

      li.financing__item
        | Comparing your options won’t affect your credit score
