include ./_svg-mixins

.offers.offers--cb
  .offers__wrapper
    .offers__items
      .offers__item
        .offers__item-number
          | 1

        .offers__item-logo
          img.offers__item-logo-img(src='images/im_card.png', srcset='images/im_card@2x.png 2x', alt="Credit Card")

        .offers__item-text-container
          p.offers__item-text-main
            | 0%

          p.offers__item-text-under
            | Estimated APR

        .offers__item-text-container
          p.offers__item-text-main
            | up to 21 Months

          p.offers__item-text-under
            | Available Terms

        .offers__item-text-container
          p.offers__item-text-main
            | 630

          p.offers__item-text-under
            | Min. Credit Score

        .offers__item-btn-container
          a.offers__item-btn(href='')
            +ic_lock_svg
            | Compare Offers

          p.offers__item-text-under
            | at SoFI’s secure website

      .offers__item
        .offers__item-number
          | 2

        .offers__item-logo
          img.offers__item-logo-img(src='images/logo/sofi.png', srcset='images/logo/sofi@2x.png 2x', alt="Sofi logotype")

        .offers__item-text-container
          p.offers__item-text-main
            | 6.47% - 12.24%

          p.offers__item-text-under
            | Estimated APR

        .offers__item-text-container
          p.offers__item-text-main
            | 3 to 8 Years

          p.offers__item-text-under
            | Available Terms

        .offers__item-text-container
          p.offers__item-text-main
            | 680

          p.offers__item-text-under
            | Min. Credit Score

        .offers__item-btn-container
          a.offers__item-btn(href='')
            +ic_lock_svg
            | Check My Rate

          p.offers__item-text-under
            | at SoFI’s secure website

      .offers__item
        .offers__item-number
          | 3

        .offers__item-logo
          img.offers__item-logo-img(src='images/logo/marcus.png', srcset='images/logo/marcus@2x.png 2x', alt="Proper logotype")

        .offers__item-text-container
          p.offers__item-text-main
            | 5.37% - 14.24%

          p.offers__item-text-under
            | Estimated APR

        .offers__item-text-container
          p.offers__item-text-main
            | 3 to 5 Years

          p.offers__item-text-under
            | Available Terms

        .offers__item-text-container
          p.offers__item-text-main
            | 660

          p.offers__item-text-under
            | Min. Credit Score

        .offers__item-btn-container
          a.offers__item-btn(href='')
            +ic_lock_svg
            | Check My Rate

          p.offers__item-text-under
            | at SoFI’s secure website

      .offers__item.offers__item--zero
        .offers__item-number
          | 4

        .offers__item-logo
          img.offers__item-logo-img(src='images/im_card.png', srcset='images/im_card@2x.png 2x', alt="Upgrade logotype")

        .offers__item-text-container
          p.offers__item-text-main
            span.semibold
              | 0% APR 

            | Cards up to 
            span.semibold
              | 18 Month 

            | on Home Improvment Purchases!

          p.offers__item-text-under
            | 0% APR on Purchases up to 18 Month over 30 Different Offers to  Choose From - Good to Excellent Credit Required.

        .offers__item-btn-container
          a.offers__item-btn(href='')
            +ic_lock_svg
            | Compare Offers

          p.offers__item-text-under
            | at SoFI’s secure website

      .offers__item
        .offers__item-number
          | 5

        .offers__item-logo
          img.offers__item-logo-img(src='images/logo/proper.png', srcset='images/logo/proper@2x.png 2x', alt="Proper logotype")

        .offers__item-text-container
          p.offers__item-text-main
            | 5.37% - 14.24%

          p.offers__item-text-under
            | Estimated APR

        .offers__item-text-container
          p.offers__item-text-main
            | 3 to 9 Years

          p.offers__item-text-under
            | Available Terms

        .offers__item-text-container
          p.offers__item-text-main
            | 450

          p.offers__item-text-under
            | Min. Credit Score

        .offers__item-btn-container
          a.offers__item-btn(href='')
            +ic_lock_svg
            | Check My Rate

          p.offers__item-text-under
            | at SoFI’s secure website

      .offers__item
        .offers__item-number
          | 6

        .offers__item-logo
          img.offers__item-logo-img(src='images/logo/upgrade.png', srcset='images/logo/upgrade@2x.png 2x', alt="Freedom Plus logotype")

        .offers__item-text-container
          p.offers__item-text-main
            | 5.37% - 14.24%

          p.offers__item-text-under
            | Estimated APR

        .offers__item-text-container
          p.offers__item-text-main
            | 3 to 9 Years

          p.offers__item-text-under
            | Available Terms

        .offers__item-text-container
          p.offers__item-text-main
            | 450

          p.offers__item-text-under
            | Min. Credit Score

        .offers__item-btn-container
          a.offers__item-btn(href='')
            +ic_lock_svg
            | Check My Rate

          p.offers__item-text-under
            | at SoFI’s secure website

      .offers__item.offers__item--pre-approved
        .offers__item-number
          | You Are Pre-Approved

        .offers__item-logo
          img.offers__item-logo-img(src='images/gold_mine.png', srcset='images/gold_mine@2x.png 2x', alt="Freedom Plus logotype")

        .offers__item-text-container
          p.offers__item-text-main
            span.semibold
              | Congratulations! 

            | According to the pre-screening, you are eligible for financing from GoldMine Credit

          p.offers__item-text-under
            | Next: Specialist at GoldMine, Inc. will verify your info and would give you a call

        .offers__item-btn-container
          a.offers__item-btn(href='tel:1 800 666 6699')
            | 1 800 666 6699

          p.offers__item-text-under.offers__item-text-under--custom
            | Call Your Lending Expert Now!

      .offers__item
        .offers__item-number
          | 8

        .offers__item-logo
          img.offers__item-logo-img(src='images/logo/freedom_plus.png', srcset='images/logo/freedom_plus@2x.png 2x', alt="Freedom Plus logotype")

        .offers__item-text-container
          p.offers__item-text-main
            | 5.37% - 14.24%

          p.offers__item-text-under
            | Estimated APR

        .offers__item-text-container
          p.offers__item-text-main
            | 3 to 9 Years

          p.offers__item-text-under
            | Available Terms

        .offers__item-text-container
          p.offers__item-text-main
            | 450

          p.offers__item-text-under
            | Min. Credit Score

        .offers__item-btn-container
          a.offers__item-btn(href='')
            +ic_lock_svg
            | Check My Rate

          p.offers__item-text-under
            | at SoFI’s secure website
