include ./_svg-mixins

.join-network
  .join-network__wrapper
    h2.section__title
      | Why Join Enhancify Network?

    p.join-network__under-text
      | We provide you and your customers access to the top lenders in today’s marketplace offering the best rates and terms so your customers get the financing they are looking for.

    .join-network__items-list
      .join-network__item
        +ic_win_model
        .join-network__item-header
          | A Win/Win Model

        .join-network__item-text
          | Increase your revenue, get bigger projects and 

          span.semibold
            | close more sales 

          | while helping your customers get the money they need.

      .join-network__item
        +ic_gain_customers
        .join-network__item-header
          | Gain Customers

        .join-network__item-text
          | Whether an unsecured loan or a 
          span.semibold
            | 0% APR 

          | credit card, Enhancify’s network allows you to 

          span.semibold
            | offer different payment options 

          | to all of your customers.

      .join-network__item
        +ic_no_fees
        .join-network__item-header
          | No Dealer Fees

        .join-network__item-text
          | Offer your customers 

          span.semibold
            | unsecured financing 

          | with a simple and fast process without having to pay any merchant or dealer fees.


