include ./_svg-mixins

.fin-program
  .fin-program__wrapper
    h2.section__title
      | Join Enhancify’s Contractor Financing Program

    p.fin-program__under-text
      | Give your customers a financing option and stay ahead of the competition without paying any high dealer fees! Enhancify’s financing solution will help you increase your revenue by offering payment options to your customers, save on those high dealer fees and win projects over the competition.

    .fin-program__items
      .fin-program__item
        +no_fee_svg
        p.fin-program__item-text
          | Free to Join

      .fin-program__item
        +real_time_svg
        p.fin-program__item-text
          | Real-time Reporting

      .fin-program__item
        +puzzle_svg
        p.fin-program__item-text
          | Co-Branded Landing Pages & Marketing Materials

      .fin-program__item
        +palm_svg
        p.fin-program__item-text
          | Generous Commissions

      .fin-program__item
        +money_svg
        p.fin-program__item-text
          | Monthly Commissions

      .fin-program__item
        +specialist_svg
        p.fin-program__item-text
          | Dedicated Account Specialist

    .fin-program__plan
      h3.fin-program__plan-title
        | Everything is Included in your Plan

      ul.fin-program__plan-item-list
        li.fin-program__plan-item
          | Safe, Fast & Easy

        li.fin-program__plan-item
          | Access to top-rated lenders in the marketplace 24/7

        li.fin-program__plan-item
          | Fast Funding & Easy Application Process

        li.fin-program__plan-item
          | We help customers with&nbsp

          span.semibold
            | poor, very good&nbsp

          | and&nbsp

          span.semibold
            | excellent&nbsp

          | credit to get financing

        li.fin-program__plan-item
          span.semibold
            | 0% APR&nbsp

          |  Credit Card offers

        li.fin-program__plan-item
          | No equity or appraisal needed

        li.fin-program__plan-item
          | Financing for any project

        li.fin-program__plan-item
          | Loans for all Credit Grades welcome

        li.fin-program__plan-item
          | Online and downloadable training materials and tutorials for your staff

    .fin-program__btn-wrapper
      a.fin-program__btn(href="")
        +ic_lock_svg
        | Get Started Today

      picture
        source(media='(max-width: 767px)', srcset="images/our_process_320.png, images/our_process_320@2x.png 2x")
        img(src="images/our_process.png", srcset="images/our_process@2x.png 2x")

