include ./_svg-mixins

.cb-testimonials
  .cb-testimonials__wrapper
    h2.section__title
      | What Our Customers Say

    .cb-testimonials__list-wrapper
      .cb-testimonials__controls-wrapper.cb-testimonials__controls-wrapper--left
        button.cb-testimonials__list-controls.cb-testimonials__list-controls--left.cb-testimonials__list-controls--inactive(type='button')
          +controls_arrow_svg

      .cb-testimonials__controls-wrapper.cb-testimonials__controls-wrapper--right
        button.cb-testimonials__list-controls.cb-testimonials__list-controls--right(type='button')
          +controls_arrow_svg

      ul.cb-testimonials__slides-list-wrapper
        ul.cb-testimonials__slides-list
          li.cb-testimonials__list-item
            img.cb-testimonials__list-item-img(src='images/svg/test_quotation.svg' height='44' width='44')

            p.cb-testimonials__list-item-text
              | Enhancify got me set up quickly and was able to offer my customers financing options immediately. They were able to get my customer financed for a 50k project and I was able to get to work soon after. Not a penny in dealer fees either. I never thought that would be possible. I’m amazed.

            p.cb-testimonials__list-item-author
              | Alex G.

            p.cb-testimonials__list-item-author-about
              | Contractor, Roofing&Bath

          li.cb-testimonials__list-item
            img.cb-testimonials__list-item-img(src='images/svg/test_quotation.svg' height='44' width='44')

            p.cb-testimonials__list-item-text
              | Enhancify got me set up quickly and was able to offer my customers financing options immediately. They were able to get my customer financed for a 50k project and I was able to get to work soon after. Not a penny in dealer fees either. I never thought that would be possible. I’m amazed.

            p.cb-testimonials__list-item-author
              | Alex G.

            p.cb-testimonials__list-item-author-about
              | Contractor, Roofing&Bath

          li.cb-testimonials__list-item
            img.cb-testimonials__list-item-img(src='images/svg/test_quotation.svg' height='44' width='44')

            p.cb-testimonials__list-item-text
              | Enhancify got me set up quickly and was able to offer my customers financing options immediately. They were able to get my customer financed for a 50k project and I was able to get to work soon after. Not a penny in dealer fees either. I never thought that would be possible. I’m amazed.

            p.cb-testimonials__list-item-author
              | Alex G.

            p.cb-testimonials__list-item-author-about
              | Contractor, Roofing&Bath

    .cb-testimonials__pointers
      .cb-testimonials__pointers-item(data-id='0')
      .cb-testimonials__pointers-item(data-id='1')
      .cb-testimonials__pointers-item(data-id='2')
