include ./_svg-mixins

.financing-project
  .financing-project__wrapper
    h2.section__title
      | Financing for any project

    p.financing-project__under-text
      | Whether it’s a kitchen or bathroom remodel, new roof, windows, siding or a repair, Enhancify‘s financing programs offer you flexible and affordable financing solutions to help you pay for any project.

    ul.financing-project__item-list
      li.financing-project__item
        +ic_windows_svg
        p.financing-project__item-text
          | Windows

      li.financing-project__item
        +ic_palm_star_svg
        p.financing-project__item-text
          | HVAC

      li.financing-project__item
        +ic_money_svg
        p.financing-project__item-text
          | Roffing

      li.financing-project__item
        +ic_windows_svg
        p.financing-project__item-text
          | Kitchen



      li.financing-project__item
        +ic_windows_svg
        p.financing-project__item-text
          | Solar

      li.financing-project__item
        +ic_palm_star_svg
        p.financing-project__item-text
          | Swimming Pool & Hot Tubs

      li.financing-project__item
        +ic_money_svg
        p.financing-project__item-text
          | Home Edition

      li.financing-project__item
        +ic_windows_svg
        p.financing-project__item-text
          | Flooring


      li.financing-project__item
        +ic_windows_svg
        p.financing-project__item-text
          | Bathroom

      li.financing-project__item
        +ic_palm_star_svg
        p.financing-project__item-text
          | Basement

      li.financing-project__item
        +ic_money_svg
        p.financing-project__item-text
          | Interior Design

      li.financing-project__item
        +ic_windows_svg
        p.financing-project__item-text
          | Landscaping
