include ./_svg-mixins

.contractor-plans
  .contractor-plans__wrapper
    h2.section__title
      | Start closing more deals and increase your revenue today!

    .contractor-plans__list
      .contractor-plans__list-item
        .contractor-plans__item-header
          .contractor-plans__item-price
            p.contractor-plans__item-price-value
              | $49

            span.contractor-plans__item-price-text
              | Billed 

              span.semibold
                | monthly

          +ic_include

        .contractor-plans__item-title
          | Enhancify Silver Plan

        .contractor-plans__item-features
          li.contractor-plans__item-feature
            | Branded financing page

          li.contractor-plans__item-feature
            span.semibold
              | 300 

            | custom marketing cards

          li.contractor-plans__item-feature
            | Training and Support

          li.contractor-plans__item-feature
            | Dedicated Account Specialist

          li.contractor-plans__item-feature
            span.semibold
              | No Contractor Fees

        a.contractor-plans__item-btn(href="#")
          +ic_lock_svg
          | Select

      .contractor-plans__list-item.contractor-plans__list-item--save
        .contractor-plans__item-header
          .contractor-plans__item-price
            p.contractor-plans__item-price-value
              | $349

            span.contractor-plans__item-price-text
              | Billed 

              span.semibold
                | monthly

          +ic_include

        .contractor-plans__item-title
          | Enhancify Gold Plan

        ul.contractor-plans__item-features
          li.contractor-plans__item-feature
            | Branded financing page

          li.contractor-plans__item-feature
            span.semibold
              | 300 

            | custom marketing cards

          li.contractor-plans__item-feature
            | Training and Support

          li.contractor-plans__item-feature
            | Dedicated Account Specialist

          li.contractor-plans__item-feature
            span.semibold
              | No Contractor Fees

        a.contractor-plans__item-btn(href="#")
          +ic_lock_svg
          | Select

    p.contractor-plans__info-text
      span.semibold
        | Questions?

      |  Visit our 

      a.contractor-plans__info-text-link(href="#")
        | FAQ section

      |  or Contact Us by calling 

      span.semibold
        | 888-xxx-xxxx
