include ./_svg-mixins

.cb-get-started
  .cb-get-started__wrapper
    img.cb-get-started__img(src="images/yoga_girl.png", srcset="images/yoga_girl@2x.png")
    .cb-get-started__content
      h3.cb-get-started__title
        | No paperwork. No hassle. No equity needed.

      p.cb-get-started__text
        | Offer a financing solution for your customers to close more deals, boost sales and increase revenues.

      a.cb-get-started__button
        +ic_lock_svg
        | Get Started Today

