include ./_svg-mixins

.cb-steps.cb-steps--main
  .cb-steps__wrapper
    h2.section__title
      | How it Works

    p.cb-steps__under-text
      | Our finacial gateway can help you close more sales and build your bottom line. The benefits are endless and we can have you up and running in 48 hours!

    .cb-steps__steps-list
      .cb-steps__step
        +ic_windows_svg
        h3.cb-steps__step-header
          | Create an account

        p.cb-steps__step-text
          | Sign up for an online account and upload your logo. You’ll receive a 

          a.cb-steps__step-text-link(href="#")
            | customized co-branded financing page

          |  and tracking links exclusively for your customers.

        p.cb-steps__step-label
          | Step 1

      .cb-steps__step
        +ic_palm_star_svg
        h3.cb-steps__step-header
          | Offer financing in one click

        p.cb-steps__step-text
          | The customer can choose from various 

          span.semibold
            | 0% APR

          |  credit card and loan options regardless of their credit scores. 

          span.semibold
            | No Equity

          |  in the home required!

        p.cb-steps__step-label
          | Step 2

      .cb-steps__step
        +ic_money_svg
        h3.cb-steps__step-header
          | Your customers get funded

        p.cb-steps__step-text
          | The customer 

          span.semibold
            |  receives a quick decision

          |  and once approved, they will have access to the funds within days.

        p.cb-steps__step-label
          | Step 3

