include ./_svg-mixins

.cb-steps
  .cb-steps__wrapper
    h2.section__title
      | Get Financing in 3 Easy Steps

    p.cb-steps__under-text
      | Our finacial gateway can help you close more sales and build your bottom line. The benefits are endless and we can have you up and running in 48 hours!

    .cb-steps__steps-list
      .cb-steps__step
        +ic_windows_svg
        h3.cb-steps__step-header
          | 1. Enter Basic Information

        p.cb-steps__step-text
          | We protect your information using 256-bit encryption. Checking your rates will not affect your credit score.

        p.cb-steps__step-label
          | Step 1

      .cb-steps__step
        +ic_palm_star_svg
        h3.cb-steps__step-header
          | 2. Choose & Apply to the Lender

        p.cb-steps__step-text
          | You’ll receive available financing options from several lending partners. Compare your options to find a great rate.

        p.cb-steps__step-label
          | Step 2

      .cb-steps__step
        +ic_money_svg
        h3.cb-steps__step-header
          | 3. Get Funded

        p.cb-steps__step-text
          | When you find an option you like, you’ll be able to continue and apply for a loan through one of our lending partners.

        p.cb-steps__step-label
          | Step 3

