.not-found
  .not-found__wrapper
    h1.not-found__title
      | 404
      br
      | Something’s missing.

    p.not-found__text
      | This page is missing or you assembled the link incorrectly.

    a.not-found__btn(href="")
      | Go Back

    img.not-found__img(src="images/svg/image_404.svg")