.redirect
  .redirect__wrapper
    h1.redirect__title
      | Please wait…

    p.redirect__text
      | You are being redirected to www.sofi.com

    img.redirect__img(src="images/dollar_glass.gif")

    p.redirect__text
      | If you are not redirected in 

      span.redirect__text-time
        | 5

      |  seconds, please 

      a.redirect__text-link(href="#")
        | click here