.fin-program__wrapper
  @extend .container
  background #fff
  padding 80px 0 165px 0

  +respond-to($small)
    padding 64px 0 142px 0

  +respond-to($xsmall)
    padding 44px 0 150px 0

.fin-program__under-text
  @extend .under-text
  margin 32px auto 48px auto

  +respond-to($small)
    margin 24px auto 32px auto

  +respond-to($xsmall)
    margin 16px auto 24px auto

.fin-program__items
  display flex
  flex-direction row
  flex-wrap wrap
  justify-content space-between
  margin-bottom 40px

  +respond-to($small)
    margin-bottom 16px

  +respond-to($xsmall)
    margin-bottom 44px
    flex-direction column

.fin-program__item
  width 30%
  display flex
  flex-direction row
  align-items center
  margin-bottom 40px

  .icon-main
    height 56px

  +respond-to($xsmall)
    width 100%
    margin-bottom 24px
    &:last-child
      margin-bottom 0

  .icon-main
    width 56px
    height auto
    margin-right 16px
    flex-shrink: 0

.fin-program__item-text
  font-size: 16px
  color: #4C7B93
  line-height: 24px
  font-weight 500

.fin-program__plan
  margin-right auto
  margin-left auto
  display flex
  flex-direction column

.fin-program__plan-title
  font-size: 24px
  color: #293033
  text-align: center
  line-height: 32px
  font-weight 700

.fin-program__plan-item-list
  display flex
  flex-direction column
  flex-wrap wrap
  align-content space-between
  max-height 216px
  margin 44px 0 48px 0
  overflow hidden

  +respond-to($small)
    max-height 248px
    margin 32px 0 44px 0

  +respond-to($xsmall)
    max-height 9999px
    margin 24px 0

.fin-program__plan-item
  position relative
  font-size: 16px
  color: #525F66
  line-height: 32px
  font-weight 400
  padding-left 28px
  width 45%

  +respond-to($small)
    width 45%
    text-align left
    box-sizing border-box

  +respond-to($xsmall)
    width 100%
    box-sizing border-box
    margin-bottom 8px
    &:last-child
      margin-bottom 0

  &:before
    content ''
    width 12px
    height 12px
    position absolute
    left 0
    top 10px
    background url(images/svg/ic_check.svg) center no-repeat

.fin-program__btn-wrapper
  position relative
  width: 360px
  margin: 0 auto

  +respond-to($medium)
    width 288px

  +respond-to($xsmall)
    width 100%

  img
    @extend .btn-with-lock-img
    top 20px
    right -200px

    +respond-to($medium)
      top: 20px

    +respond-to($small)
      right -180px

    +respond-to($xsmall)
      top: 80px

.fin-program__btn
  @extend .btn-with-lock
  padding 12px


